/* header{width:100%;background:#333;color:#fff;display:flex;justify-content: space-between;align-items: center;padding:40px 100px;}
header h1{font-size:30px;padding:0 40px;}
header nav ul{display:flex;}
header nav ul li{padding:0 30px;}
header nav ul li a{color:#fff;} */